<h4>Component Communication Using Parent Child Relationship</h4>
<div class="container">
  <h3>
    {{title}}
  </h3>
  <div>
    <button (click)="loggerFlag=true">Login</button>
    <button (click)="loggerFlag=false">Logout</button>
  </div>
  <app-child [loggedIn]="loggerFlag"></app-child>
</div>
<h4>{{title2}}</h4>
<div class="container2">
  <h3>Manager</h3>
  <button (click)="greetEmployee()" >Greet Employee</button>
  <button (click)="appreciateEmployee()" >Appreciate Employee</button>
  <app-employee></app-employee>
</div>